<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Todo - App</title>
<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<script>
	
</script>


<body>

	<!-- header section -->

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">myTODO</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<!-- CONTENT -->

	<!-- body section -->

	<div class="container">

		<div class="row my-3">

			<!-- side menu -->
			<section class="col-md-3">

				<div class="menu shadow-sm">
					<div class="menu-header"></div>

					<div class="menu-items">
						<a class="nav-link hover:shadow-sm" href="#">Todo</a> <a
							class="nav-link howver:shadow-sm" href="#">Completed Tasks</a> <a
							class="nav-link hover:shadow-sm" href="#">Profile</a> <a
							class="nav-link hover:shadow-sm" href="#">Settings</a>
					</div>
				</div>
			</section>

			<!-- main content -->
			<section class="col-md-9 content shadow-sm p-3">

				<!-- create button -->
				<div class="mt-2 ">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary"
						data-bs-toggle="modal" data-bs-target="#exampleModal">
						Add new</button>

					<!-- Modal -->
					<div class="modal fade mt-5" id="exampleModal" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Create Todo</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form id="form" th:action="@{/create-todo}" th:object="${tmodel}" method="POST">
										<div class="mb-3">
											<label for="exampleInputEmail1" class="form-label">Title</label>
											 <input type="text" class="form-control"
												id="todo-title" th:field="*{title}" aria-describedby="todo-title">
										</div>
										<div class="mb-3">
											<label for="exampleInputPassword1" class="form-label">Description</label>
											<textarea type="text" row="4" class="form-control"
												id="todo-body" th:field="*{body}"></textarea>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary" onclick="submitForm()">Create</button>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- list of todos -->
				<div class="rounded p-2">
					<div class="todo shadow bg-light" th:each="todo, itrStat : ${todos}">

						<div class="accordion" id="accordionExamp" >
							<div class="accordion-item mt-2">
								<h2 class="accordion-header d-flex justify-content-between" th:id="heading + ${itrStat.count}">
									<button class="accordion-button" type="button"
										data-bs-toggle="collapse"
										th:attr="data-bs-target=|#collapse${todo.id}|, aria-controls=|collapse${todo.id}|"
										aria-expanded="false" th:text=${todo.title}></button>
										
								</h2>
								<div th:id="collapse + ${todo.id}"
									class="accordion-collapse collapse"
									th:attr="aria-labelledby=|heading${itrStat.count}|"
									data-bs-parent="#accordionExamp">
									<div class="accordion-body">
										<div class="todo-body text-md" th:text="${todo.body}"></div>
										<div class="todo-footer d-flex justify-content-center">
											<a class=" bg-danger text-white rounded" th:href="@{/delete-todo/{id}(id=${todo.id})}">delete</a>
											<a class=" bg-success text-white rounded" th:href="@{/complete-todo/{id}(id=${todo.id})}">mark complete</a>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>

			</section>
		</div>

	</div>

	<!-- footer section -->

	<footer class="row pb-3">
		<div class="justify-content-center text-center">
			<h5>James Damilare</h5>
			<span>kNk &copy;</span>
		</div>
	</footer>

	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script>
		function submitForm(){
		 document.getElementById('form').submit();
		}
	</script>
</body>
</html>